[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/jatinjangid
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jatinjangid
	label-Verified = -1..+1 group user/jatinjangid
	push = group user/jatinjangid
	read = group user/jatinjangid
	rebase = group user/jatinjangid
	removeReviewer = group user/jatinjangid
	submit = group user/jatinjangid
[access "refs/heads/*"]
	create = group user/jatinjangid
	push = +force group user/jatinjangid
	pushMerge = group user/jatinjangid
	read = group user/jatinjangid
[access "refs/tags/*"]
	push = group user/jatinjangid
	push = +force group user/jatinjangid
